@charset "utf-8";
/* CSS Document */


/*********************************************
        base css
*********************************************/
*{margin:0; padding:0;}
body{font-family: 'Conv_Arialn'; letter-spacing: 1px;}
img{max-width:100%; transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease;}
a{transition:0.4s ease-in; -webkit-transition:0.4s ease-in; -moz-transition:0.4s ease-in; -ms-transition:0.4s ease-in; -o-transition:0.4s ease-in;}
h1,h2, h3, h4, h5, h6{font-family: 'Conv_Arialn';}
ul, ol{list-style:none; padding: 0;}
h1{margin:0; font-size:42px; text-transform:uppercase; font-weight:400; position:relative; margin-bottom:60px; color: #000;}
h1 span{color:#00214c; font-weight:bold;}
h1:before {content: ""; background:url(../images/headong-line.png) no-repeat; height:27px; width:140px; position:absolute; bottom:-40px; left:0;}
p {font-size: 16px; line-height: 24px; color: #818080;}



 @font-face {
    font-family: 'Conv_Arialn';
    src: url('../webfonts/Arialn.eot');
    src: local('☺'), url('../webfonts/Arialn.woff') format('woff'), url('../webfonts/Arialn.ttf') format('truetype'), url('../webfonts/Arialn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.container-fluid{padding: 0 100px;}


/************************************
        Topbar Css
************************************/
.topbar-wrap{background: #d93644; padding: 8px 0;}
.language{color: #fff; font-size: 18px; display: flex; justify-content: space-between;}
.topbar-wrap .btn-secondary{padding: 0; background: none; border: none; box-shadow: none;}
.navbar{padding: 0;}
.navbar-expand-lg .navbar-nav .nav-link{color: #fff; padding: 0 10px;}
.navbar-expand-lg .navbar-nav .nav-link:hover{color: #fff;}
.navbar-nav li{position: relative;}
.navbar-nav > li:before{content: ""; background: #fff; width: 1px; height: 18px; position: absolute; top:4px; left: 0;}
.navbar-nav > li:first-child:before{display: none;}
.slolfi_btn{background: #fff;
    color: #000 !important;
    font-weight: 700;
    padding: 2px 15px !important;
    margin-left: 20px;
}
.sign-wrap{text-align: right;}
.sign-wrap a{color: #fff; text-decoration: none;}
.sign-wrap .register{margin-left: 12px;}
.sign-wrap .register a{padding: 5px 13px; border: 1px solid #fff;}
.header_btns{margin-top: 22px;}
.header_btns ul{display: flex; }
.header_btns ul li:first-child a {width: 46px; height: 45px;}
.header_btns ul li a{background: #d9242d; padding:12px 9px; font-size: 14px; text-decoration: none; color: #fff; display: inline-block;}
.header_btns ul li a:hover{background: #000;}
.header_btns ul li{margin-right: 1px;}



/************************************
        Header Css
************************************/
.header-wrap{padding: 10px 0; background: #f8f8f8;}
.input-group{margin-top: 20px;}
.input-group>.form-control{height: 56px; font-weight: 100; border: 2px solid #d93644; background: #f0f0f0; letter-spacing: 2px;}
.input-group-text{ border: 2px solid #d93644; cursor: pointer; background: #d93644; color: #fff;}
.btns{margin-top: 24px;}

::-webkit-input-placeholder { /* Edge */
  color: #a4a3a3 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a4a3a3 !important;
}

::placeholder {
  color: #a4a3a3 !important;
}



/************************************
        Slider Section Css
************************************/
.sliderSec-wrap{background: #e6e6e6; padding-top: 20px;}
.categories_wrp h3{background: #d93644; margin-bottom: 0; color: #fff; padding: 10px 25px; text-align: center;}
.categoryList{background: #fff; padding: 10px 25px;}
.categoryList li{ line-height: 34px;}
.categoryList li a{text-decoration: none; color: #000; font-size: 18px;}
.categoryList li a:hover{color: #d93644;}
.carousel-indicators{background: #2b2b2b; border-radius: 30px;}
.carousel-indicators [data-bs-target]{width: 15px; height: 15px; border-radius: 100%;}

/************************************
        Welcome Css
************************************/
.welcome_box{background: #d93644; text-align: center; padding:30px;}
.sloofi-icon img{border-radius: 100%; background: #fff; width: 112px; height: 112px; display: inline-block;}
.welcome_box h3{margin-top: 20px; color: #fff;}
.sign_btns{margin-top: 20px;}
.sign_btns span{margin: 0 15px;}
.sign_btns a{text-decoration: none; display: inline-block; background: #fff; padding: 10px 30px; border-radius: 30px; color: #000; font-size: 18px;}

/************************************
        Help Center Css
************************************/
.help_center{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e1e1e+0,505150+59,505150+83,3c3c3c+100 */
background: #1e1e1e; /* Old browsers */
background: -moz-linear-gradient(top,  #1e1e1e 0%, #505150 59%, #505150 83%, #3c3c3c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e1e1e 0%,#505150 59%,#505150 83%,#3c3c3c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e1e1e 0%,#505150 59%,#505150 83%,#3c3c3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
padding:20px 30px;
margin-top: 15px;
}

.help_center h4{color: #fff;}
.help_heading{display: flex; justify-content: space-between;}
.view_more a{color: #fff; text-decoration: none;a}
.help_center ul{margin-bottom: 0;}
.help_center ul li{color: #fff; font-weight: normal; line-height: 27px; position: relative; padding-left: 20px}
.help_center ul li:before{content: ""; width: 10px; height: 10px; background: #b52d39; border-radius: 100%; position: absolute; top: 8px; left: 0;}


/************************************
        Products Css
************************************/
.products-wrap{background: #e6e6e6; padding:20px 0;}
.product_sec{background: #fff; padding: 20px; margin-bottom: 20px;}
.product_list{border:1px solid transparent; padding:7px; overflow: hidden; position: relative;}
.product_list:before, .product_list:after {
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s, -webkit-transform 0.35s ease 0s;

}
.product_list:before {
    border-bottom: 1px solid;
    border-top: 1px solid;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    border-color: #d93644;
}
.product_list:after {
    border-left: 1px solid;
    border-right: 1px solid;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    border-color: #d93644;
    transform: scale(1, 0);
}
.product_list:hover:before, .product_list:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.product_box{height:190px; background: #fff; width: 100%; position: relative; z-index: 1000; position: relative;}
.product_info{ background: #fff; position: absolute; display:block; height:100%;
top:0;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;}

.product_list:hover .product_info{top:-60px; }
.product_img{margin: 0 1px;}
.product_sec h3{border-bottom: 1px solid #e2e2e2; padding-bottom: 15px;}
.product_list h4{font-size: 20px; margin-top: 10px;}
.readmore{margin-top: 15px;}
.readmore a{border: 1px solid #d93644; font-size: 15px; text-decoration: none; color: #d93644; padding: 7px 14px; display: inline-block;}
.pricetext{font-size: 20px; font-weight: 600; color: #d93644;}
.btn_bg{background: #d93644 !important; color: #fff !important;}
.queue_btn a{width: 100%; text-align: center; font-size: 20px; color: #d93644;}
 .owl-controls{display: none;}
.readmore a:hover{background: #d93644; color: #fff;}
.queue_btn a:hover, .btn_bg:hover{background: #000 !important; color: #fff; border-color: #000;}

.hot_selling h4{font-size: 18px; z-index: 1000; position: relative;}
.hot_selling h4 a{text-decoration: none; color: #000;}
.product_list:hover h4 a{color: #d93644;}
.globelWrp{background: #fff1dc; padding:20px 6px 6px 6px;}
.globelWrp .product_info{padding: 7px;}
.globelWrp .product_box{height: 204px;}


/************************************
        App Css
************************************/
.app_wrap{padding: 40px 0;}
.app_wrap h3{font-size: 72px !important; font-weight: bold; color: #484848; letter-spacing: 4px; margin-bottom: 30px;}
.app_sec{display: flex; justify-content: space-between;}
.scanText{font-size: 20px; margin-top: 20px;}
.qr_check{margin-right: 30px;}
.appstore span{margin-top: 10px; display: inline-block;}


.app_wrap{}
.app_wrap h3{ font-size: 20px;}
.app_wrap h3 span{display: block;}
.tagline{font-size: 24px; text-align: center; margin-bottom: 50px;}


.shipmentWrp h3, .partner_wrp h3{text-align: center; font-size: 60px; font-weight: bold;}
.shipmentWrp h3 span{display: block;}
.warehouse_info{background: #f8f8f8; border: 2px solid #d93644; padding: 20px;}
.shipmentWrp h5{color: #d93644;}
.service_heading{font-size: 42px; font-weight: bold; text-align: center;}


.track_wrp{padding: 60px 0;}
.mt-120{margin-top: 120px;}
.ship_btn a{font-size:24px !important; padding: 14px 46px; font-weight: bold;}
.track_wrp .input-group>.form-control{border-color: #eee;}

.partner_wrp{background: #f8f8f8; padding: 60px 0;}
.partner_wrp h3{text-align: left; margin-top: 50px;}
.partner_wrp h3 span{display: block;}
.partner_wrp .readmore a{padding: 12px 36px; font-size: 18px; margin-right: 20px;}
.partnerships_img{margin-top: 15px;}
.partnerships_img:hover{margin-top: -3px; -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;}

.mobile_categories{display: none;}
.carousel-control-next-icon, .carousel-control-prev-icon{display: none;}
.navbar-toggler{display: none;}



/*detailsHeader*/
.detailsHeader{padding:45px 0px; position:relative;}
.detailsHeader img{float:left; width:70px;}
.detailsHeader h2{display:block; font-size:36px; padding-left:80px; text-transform:uppercase; font-weight:bold; position:relative; margin-bottom:0px; color:#484848;}
.detailsHeader .readmore{text-align:right;}


/*page-title-area*/
.page-title-area{padding:20px 0; background-color:#303030; position:relative; z-index:1;}
.page-title-area .page-title-content{position:relative; z-index:1;}
.page-title-area .breadcrumb-nav{display:-moz-box; display:flex; -moz-box-align:center; -moz-box-pack:center; margin-bottom:0px; align-items:flex-end; justify-content:flex-start;}
.page-title-area .breadcrumb-nav li{position:relative; font-size:18px; font-weight:500; line-height:35px; padding-right:35px; color:#fff;}
.page-title-area .breadcrumb-nav li:not(:last-child):after{content:""; height:30px; width:2px; position:relative; left:18px; top:8px; background:#ddd; display:inline-block;}
.page-title-area .breadcrumb-nav li a{text-decoration:none; color:#fff;}
.page-title-area .breadcrumb-nav li.active{text-decoration:underline; font-weight:bold;}


/*productDetail*/
.productDetail{padding:50px 0px; position:relative;}
.aboveSlider{display:flex; justify-content:space-between;}
.aboveSlider h5 span{display:block;}
.aboveSlider .nav-link{display:block; color:#484848; padding:0.4rem 0.5rem; position:relative; font-size:18px; font-weight:bold;}
.aboveSlider .nav-link.active{color:#d93644;}
.productDetail .slider .flexslider{position:relative;}
.productDetail .slider .flexslider .downloadLink{position:absolute; right:20px; bottom:20px; z-index:999;}
.productDetail .slider .flexslider .downloadLink a i{height:60px; border-radius:100%; background:#fff; width:60px; line-height:60px; text-align:center; color:#d93644;}
.afterSlider{position:relative; padding:15px 0px; display:-moz-box; display:flex; -moz-box-align:center; align-items:center; -moz-box-pack:center; justify-content:center;}
.afterSlider li{position:relative; font-size:18px; font-weight:600; line-height:inherit; padding-right:50px; color:#484848;}
.afterSlider li a{text-decoration:none; color:#000;}
.afterSlider li:not(:last-child):after{content:""; height:30px; width:2px; position:relative; left:25px; top:8px; background:#484848; display:inline-block;}

/*videoBox*/
.videoBox{padding:30px 25px; position:relative; background:#484848; z-index:1;}
.videoBox h6{font-size:24px; color:#fff;}
.videoBox p{font-size:16px; color:#fff; line-height:28px;}
.videoBox .readmore{text-align:center; margin-top:45px; margin-bottom:20px;}
.videoBox .readmore a{background:#ffffff; border:2px solid #d93644; color:#d93644;}
.videoBox .readmore a:hover{background:#d93644; color:#fff;}


/*productDetailContent*/
.productDetailContent{padding-left:30px;}
.productDetailContent h2{color:#484848; font-size:36px; font-weight:bold;}
.pricebox{background:#f8f8f8; padding:30px 0; position:relative; margin-top:25px;}
.pricebox h5{color:#929191; padding-left:30px; font-size:18px;}
.pricebox h1{margin:0; font-size:45px; text-transform:uppercase; font-weight:500; position:relative; margin-bottom:10px; line-height:50px; color:#d93644;}
.pricebox p{font-size:16px; margin-bottom:0px;}
.productInfoo{position:relative;}
.spacer{border-bottom:2px solid #d93644; padding-bottom:50px; margin-bottom:20px;}
.productInfoo input[type=radio]{display:none;}
.productInfoo input[type=radio]+label{display:inline-block; width:50px; height:50px; border:2px solid #484848; cursor:pointer; background:#484848;}
.productInfoo input[type=radio]:checked~label{border-color:#d03744;}
.productInfoo .form-check{display:inline-block; min-height:initial; padding-left:0; margin-bottom:0;}
.productInfoo .col-form-label{color:#929191; padding-left:30px; font-size:18px;}
.productInfoo input[type=radio]+.StyleBox{display:inline-block; width:100px; height:50px; border:2px solid #f8f8f8; cursor:pointer; background:#f8f8f8;}
.productInfoo .form-control{height:50px; border:2px solid #bbb; background:#f8f8f8; font-size:16px;}
.productInfoo .form-control:focus{box-shadow:none;}
.productInfoo .quantity{margin:0 auto; overflow:hidden; position:relative; width:155px; height:50px;}
.productInfoo .quantity .minus{background:#dfdfdf; border:1px solid #dfdfdf; color:#b1b1b1; display:block; font-size:18px; font-weight:bold; height:50px; line-height:50px; position:absolute; text-align:center; width:50px; border-radius:0; left:0px;}
.productInfoo .quantity .qty{border:1px solid #d93644; height:50px; text-align:center; position:absolute; width:55px; font-weight:bold; font-size:18px; left:50px; border-radius:0;}
.productInfoo .quantity .plus{background:#dfdfdf; border:1px solid #dfdfdf; color:#b1b1b1; display:block; font-size:18px; font-weight:bold; height:50px; line-height:50px; position:absolute; text-align:center; width:50px; border-radius:0; right:0px;}
.productInfoo .quantity .plus:hover{background:#d93644; color:#fff; border:1px solid #d93644;}
.productInfoo .quantity .minus:hover{background:#d93644; color:#fff; border:1px solid #d93644;}
.productInfoo .readmore-second a{background:#ffe0e3; color:#d93644; font-size:16px; font-weight:bold; position:relative; text-align:center; padding:18px 40px; text-decoration:none; display:block;}
.productInfoo .readmore-second a:hover, .productInfoo .readmore-second a.active{background:#d93644; color:#fff;}




/*product-info-tabs*/
.product-info-tabs{position:relative; border-top:5px solid #e6e6e6; padding:50px 0;}
.product-info-tabs .prod-tabs{position:relative;}
.product-info-tabs .prod-tabs .nav-tabs{border-bottom:2px solid #d93644; position:relative; margin-bottom:25px; padding-bottom:30px;}
.product-info-tabs .prod-tabs .nav-tabs li{padding-right:40px;}
.product-info-tabs .prod-tabs .nav-tabs .nav-link{margin-bottom:0; background:0 0; border:none; border-radius:0; color:#484848; padding:0px; padding-bottom:10px; font-size:20px; border-bottom:2px solid transparent; font-weight:600;}
.product-info-tabs .prod-tabs .nav-tabs .nav-link.active{border-bottom:2px solid #d93644; color:#d93644;}
.product-info-tabs .prod-tabs p{font-size:16px;}
.prod-tabs .reviews-container{position:relative; padding-bottom:1px;}
.prod-tabs .reviews-container .review-box{position:relative; margin-bottom:30px; padding-left:120px; min-height:130px; padding-bottom:30px; border-bottom:1px solid #f0f0f0;}
.prod-tabs .reviews-container .review-box:last-child{margin-bottom:0; padding-bottom:0; border-bottom:none;}
.prod-tabs .reviews-container .rev-thumb{position:absolute; left:0px; top:5px; width:100px; height:100px; background:#ffffff; border-radius:3px; margin-bottom:20px;}
.prod-tabs .reviews-container .rev-thumb img{display:block; width:100%; border-radius:3px;}
.prod-tabs .reviews-container .rev-content{position:relative; background:#ffffff;}
.prod-tabs .reviews-container .rev-header{position:relative;}
.prod-tabs .reviews-container .rev-header h4{display:inline-block; line-height:30px; color:#484848; font-weight:600; font-size:24px; margin-bottom:10px;}
.prod-tabs .reviews-container .rev-header .rating{position:relative; margin-left:30px; color:#d93644; line-height:16px; display:inline-block; font-size:14px; margin-bottom:0;}
.prod-tabs .reviews-container .rev-header .time{position:relative; float:right; color:#000000; line-height:30px; font-size:14px;}
.add-review{position:relative; margin:30px 0px 20px; font-size:14px;}
.prod-tabs .add-review h2{color:#484848; margin-bottom:25px;}
.reviews-container .add-review label{color:#929191; font-size:18px;}
.reviews-container .add-review input[type="text"], .reviews-container .add-review input[type="email"]{display:block; width:100%; height:50px; border:2px solid #bbb; background:#f8f8f8; font-size:18px;}
.reviews-container .add-review .rating{position:relative; padding-top:8px;}
.reviews-container .add-review .rating .rate-box{position:relative; display:inline-block; margin-right:10px; font-size:14px; color:#555555;}
.reviews-container .add-review textarea{display:block; width:100%; height:150px; border:2px solid #bbb; background:#f8f8f8; font-size:18px;}
.add-review .rating .rate-box:hover{color:#d93644;}
.add-review .btn{background:#d93644; color:#fff; font-size:16px; font-weight:bold; position:relative; text-align:center; border-radius:0px; padding:20px 40px; text-decoration:none;}
.close-toggler{display: none;}
.footer_fix{display: none;}


/************************************
        Cart Css
************************************/
.inner_content{background: #e6e6e6; padding: 10px 0;}
.cart_list{background: #fff; padding: 20px;}
.cart_list h3 {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
}
.cart_list h3 a{text-decoration: none; color: #000; font-size: 18px;}
.cart_list h3 i{padding-right: 6px;}
.sortby{display: flex; justify-content: space-between; margin-top: 15px;}
.sortby span{float: left; margin-right: 6px;}
.sort .btn{padding: 0; color: #be2422;}
.sortby .dropdown{ float: right;}
.shopping_list{background: #fff; box-shadow:0 0 15px rgb(0 0 0 / 13%); padding: 15px; margin-top: 20px;}
.shopping_list .col-lg-2{padding-right: 0;}
.cartImg{margin-right: 15px;}
.x2{font-size: 18px;}
.cart_price{font-size: 20px; font-weight: bold;}
.shopping_list .row{align-items: center;}
.shop_page{display: none;}

.shopping_list .quantity{margin:15px auto 0 auto; overflow:hidden; position:relative; width:135px; height:50px;}
.shopping_list .quantity .minus{background:#dfdfdf; border:1px solid #dfdfdf; color:#b1b1b1; display:block; font-size:18px; font-weight:bold; height:40px; line-height:40px; position:absolute; text-align:center; width:40px; border-radius:0; left:0px;}
.shopping_list .quantity .qty{border:1px solid #d93644; height:40px; text-align:center; position:absolute; width:55px; font-weight:bold; font-size:18px; left:40px; border-radius:0;}
.shopping_list .quantity .plus{background:#dfdfdf; border:1px solid #dfdfdf; color:#b1b1b1; display:block; font-size:18px; font-weight:bold; height:40px; line-height:40px; position:absolute; text-align:center; width:40px; border-radius:0; right:0px;}
.shopping_list .quantity .plus:hover{background:#d93644; color:#fff; border:1px solid #d93644;}
.shopping_list .quantity .minus:hover{background:#d93644; color:#fff; border:1px solid #d93644;}

.cart_widget{background: #fff; padding: 30px;}
.total_price{font-size: 20px; font-weight: bold; }
.total_price li{position: relative; margin-top: 15px;}
.total_price span{font-weight: normal; font-weight: 16px; position: absolute; right: 0;}
.purchase_btn a{display: block; width: 100%; color: #fff;  padding: 14px 20px; font-size: 18px; text-align: center;}
.purchase_btn span{margin-top: 15px; display: block;}
.grey_btn a{background: #484848; border-color: #484848;}



.paymentWrp input[type=radio]+.StyleBox{width: 160px !important; height: 120px !important; text-align: center;}
.paymentWrp img{margin-top: 10px;}
.paymentWrp h5{margin-top: 10px;}

.paymentWrp input[type=radio]:checked~label {
    border-color: #d03744;
    box-shadow: 0 0 15px rgb(0 0 0 / 23%);
    background: #fff;
}
.paymentWrp .form-check{margin-right: 15px;}
.paymentWrp{margin-top: 30px;}
.checkout_form .form-control{background: #fff; border-color: #ddd; }

.checkbox {
    margin-top: 16px !important;
    padding-left: 30px;
}
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox input[type=checkbox] + label {
    width: 20px;
    height: 20px;
    border: 1px solid #d93644;
    background: #ffb9bf;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
  font-weight: 900;
    color: #d93644;
    padding-left: 2px;
    position: relative;
    top: -3px;
}


.cart-table{border: 1px solid #e1e1e1;}





/*****************************************
             login-section              *
*****************************************/
.login-section {
    display: -webkit-box;
    display: -ms-flexbox;
    background-color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
}
.login-section .login-form {
background-color: #ffffff;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0 0 35px #00000040;
    z-index: 99;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.innerLogin{position: relative;}
.about-img-pro {
    background-size: cover;
    min-height:100%;
    right: 0;
    position: absolute;
    top: 0;
    z-index:1;
    width: 53%;
}
.login-fotter-links{text-align: center;}
.login-fotter-links a{
    position: relative;
    z-index: 1;
    color: #d93644;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight: 600;
    margin: 0;
}
.login-title{margin-bottom: 35px; text-align: center;}
.login-title h2{font-family: 'Poppins', sans-serif; color: #464646; font-size:30px; text-decoration: underline; font-weight: bold;}
.login-section .form-sec .form-control {
    padding: 10px 25px 10px 60px;
    color: #647589;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    border-left: 4px solid #d93644;
}
.login-section .form-sec .form-check-input:focus{box-shadow: none;}
.login-section .form-sec .form-check-label{font-size: 16px; color: #464646; font-family: 'Poppins', sans-serif; font-weight: normal;}
.login-section .form-sec .form-check-label.ms-auto{font-weight: 600;}
.login-section .form-sec form > div{position: relative;}
.login-section .form-sec .input-icon {
    position: absolute;
    left: 23px;
    bottom: 16px;
    font-size: 18px;
    height: 20px;
    width: 30px;
    vertical-align: baseline;
    border-right: 2px solid #efa8ae;
}
.login-section .login-form .form-sec .bottom-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.login-section .btn-section{text-align: center;}
.login-section .btn-section .btn{
    background: #d93644;
    border: 1px solid #d93644;
    border-radius: 6px;
    padding: 15px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.connect-with{text-align: center; margin-top: 30px;}
.login-section .login-form .form-sec .connect-with h6{
    position: relative;
    z-index: 1;
    color: #d93644;
    display: block;
font-family: 'Poppins', sans-serif;
font-size: 24px;
    font-weight: 400;
    margin: 0;}
.login-section .login-form .form-sec .connect-with h6 span{
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    padding: 0 10px;
}
.login-section .login-form .form-sec .connect-with h6:after{
    content: "";
    position: absolute;
    left: 50%;
    width: 70%;
    height: 1px;
    top: 18px;
    background-color: #808080;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}
.mtb-110{margin: 110px 0px;}
.social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top:25px;
    margin-bottom: 35px;
}
.social-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    color: #fff;
    text-decoration: none;
    height: 40px;
    border-radius:4px;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.social-links .social-link {
    margin-right: 12px;
}
.social-link.facebook {
    background-color: #3763d2;
}
.social-link.twitter {
    background-color: #1abcff;
}
.social-link.envelope {
    background-color: #fc6758;
}
.social-link.apple {
    background-color: #474747;
}
.social-links .social-link:last-child {
    margin-right: 0;
}
.social-link:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.social-links .social-link:hover{color: #fff;}

.login-form .nav-tabs {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.login-form .nav-tabs li {
    width: 50%;
}

.login-form .nav-tabs li .nav-link {
    margin-bottom: 0;
    background: 0 0;
    border: none;
    border-radius: 0;
    color: #484848;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    margin: auto;
}
.login-form .nav-tabs li .nav-link.active {
    border-bottom: 2px solid #d93644;
    color: #d93644;
}





.login-right{position: relative; z-index: 11;}
.login-right{display: table; height: 100%; text-align: center; width: 100%;}
.login_wrp{display: table-cell; vertical-align: middle;}
.login_wrp h4{color: #fff;}
.login_wrp p{font-size: 16px; color: #fff;}
.signup a{

        background: #f6dcdf;
    border: 1px solid #f6dcdf;
    border-radius: 6px;
    color: #d93644;
    padding: 15px 40px;

    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.mini__heightt{    min-height: 165px;}


.login-section .row{display: block;}
.float-right{float: right;}
.login-right{margin-top: 120px;}
.innerLogin .mtb-110{margin: 0;}
.category_wrap .btn-section{margin-top: 15px;}
.category_related{background: none; padding: 0;}
.category_related .product_sec{padding: 0;}

.category_wrap{padding: 40px 0;}
.improve-bg .btn{padding: 0; color: #fff;}
.improve-bg{background: #d93644; padding: 5px 15px;}
.category_wrap .btn{padding: 0;}
.filterWrp{align-items: center;}
.filterWrp label{margin-top: 5px;}
.radiobox{margin-bottom:20px;}
.btn-section .btn {
    background: #d93644;
    border: 1px solid #d93644;
    border-radius: 6px;
    padding: 15px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.filterWrp a{text-decoration: none; color: #d93644;}

.radiobtn{display: inline-block;
    position: relative;
    padding: 5px 0 5px 35px;
    line-height: 26px;}
.radiobtn input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.radiobtn .checkmark {
    width: 26px;
    height: 26px;
    border: 5px solid #ecc5ff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
}
.radiobtn input[type="radio"]:checked + .checkmark {
    background: #ecc5ff;
    border: none;
}
.radiobtn input[type="radio"]:checked + .checkmark:after {
    left: 7px;
    top: 7px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #d93644;
    display: block;
}
.radiobtn .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}




input[type=radio] {
    position: relative;
    top: 4px;
    left: 2px;
    margin: 0 8px;
    cursor: pointer
}

input[type=radio]:before {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #9c27b0;
    display: inline-block;
    top: -5px;
    left: -8px;
    background-image: radial-gradient(circle, #9c27b0 60%, #fff 70%);
    background-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: background-size;
    z-index: 2
}

input[type=radio]:after {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%
}





/************************************
        Media Screen Css
************************************/
@media only screen and (max-width:1440px){
.productDetailContent h2{font-size:30px;}
.productInfoo .readmore-second a{padding:18px 10px;}
}


@media only screen and (max-width:1299px){
.detailsHeader h2{font-size:30px; }
.productDetailContent h2{font-size:26px; }
}


@media screen and (max-width: 1200px) {
    .paymentWrp img{width: 30px;}
    .paymentWrp h5{font-size: 16px;}
    .paymentWrp input[type=radio]+.StyleBox {
    width: 100px !important;
    height: 90px !important;
    text-align: center;
}


    .detailsHeader .readmore{margin-top:0px; }
.detailsHeader .readmore a{display:block; padding:20px 0px; }
.productInfoo input[type=radio]+label{width:45px; height:45px; }
.productInfoo input[type=radio]+.StyleBox{width:94px; height:45px; }
.productDetail .container-fluid, .page-title-area .container-fluid{padding:0 50px; }
.productDetailContent{padding-left:0; }
.productInfoo .col-form-label,.aboveSlider .nav-link{font-size:16px; }
.pricebox{margin-top:30px; }

.globelWrp .product_list h4{font-size: 18px;}
.globelWrp .readmore a{font-size: 12px; padding: 6px 8px;}
.navbar-expand-lg .navbar-nav .nav-link, .language{font-size: 14px;}
.language{display: none;}
.navbar-expand-lg .navbar-nav .nav-link{padding: 0 10px}
.navbar-nav > li:before{height: 12px;}
.sloofi-logo img{width: 250px;}
.sloofi-logo{text-align: center;}
.help_center{display: none;}
.welcome_box{margin-top: 30px;}
.categoryList{column-count: 3}
.header_btns ul{justify-content: center;}
.header_btns ul li{margin: 0 5px;}
.partner_wrp .readmore a{padding: 12px 18px;}
.product_box{height: 170px;}
.product_img img{width: 100%;}

}


@media screen and (max-width: 990px) {
    .videoBox{margin-bottom:50px; }
.productInfoo .form-control{margin-bottom:6px; }
.page-title-area .breadcrumb-nav li{font-size:16px; }
.close-toggler{display: block;}
.paymentWrp{text-align: center;}
.about-img-pro{width: 100%;}
.login-section .login-form{width: 80%; margin: 20px auto }
.innerLogin, .login_wrp{padding-bottom: 30px;}
.radio .radio{margin-top: 10px;}

.sign-wrap{display: none;}
.topbar-wrap{padding: 0;}
.navbar-toggler{display: block;}
.sliderSec-wrap{background: none;}
.product_box {
    height: 190px;
}
.navbar-collapse {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 100%;
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 10000;
}
.navbar-collapse.show {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.navbar .navbar-collapse {
    justify-content: flex-end;
}
.close-toggler {
    background: none;
    color: #fff;
    padding: 5px;
    border: none;
    margin-top: 10px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
}
.navbar-nav{padding-top: 70px;}
.navbar-nav li a + i {
    display: block;
}
.navbar-nav .dropdown-menu{border-radius: 0 0 .25rem .25rem;}
.navbar-nav > li:before{display: none;}
.navbar-expand-lg .navbar-nav .nav-link{padding: 10px 10px; font-size: 16px;}
.navbar-expand-lg .navbar-nav .nav-link:hover{background: #d93644;}
.header_btns{display: none;}
.header-wrap .input-group{margin-top: 0; display: none;}
.navbar-light .navbar-toggler{position: absolute; top: 15px; right: 20px;}
.navbar-light .navbar-toggler{background: #d93644;}
.categoryList, .categories_wrp h3{display: none;}
.navbar-light{position: relative;}
.sloofi-logo{text-align: left;}
.welcome_box{display: none;}
.mobile_categories{display: flex; text-align: center; justify-content: center;}
.mobile_categories span{display: block; }
.mobile_categories a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 10px;
}
.mobile_categories li{margin-top: 20px;}
.carousel-control-next-icon, .carousel-control-prev-icon{display: block;}
.app_wrap h3, .shipmentWrp h3, .partner_wrp h3{font-size: 36px !important;}
.app_wrap{text-align: center;}
.shipmentWrp{display: none;}
.globelWrp .product_box{height: 190px;}
.slolfi_btn{display: inline-block; margin-left: 0;}
.detailsHeader{display: none;}


}

@media screen and (max-width: 767px) {
    .detailsHeader .readmore{margin-top:30px; }
.product-info-tabs .prod-tabs .nav-tabs {margin-bottom:25px; padding-bottom:25px; }
.prod-tabs .reviews-container .rev-header h4 {line-height:25px; font-size:18px; }
.prod-tabs .reviews-container .rev-header .rating {margin-left:15px; }
.shopping_list .row{align-items: inherit;}
.cart_info p, .cart_info h5{margin-bottom: 0;}
.container-fluid{padding: 0 15px;}
.sloofi-logo img{width: 200px;}
.inner_content{padding-bottom: 100px;}
.cart_info h5{font-size: 16px;}
.cart_info p{font-size: 13px;}
.footer_fix {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background: #fff;
    width: 100%;
}
.footer_fix ul{display: flex; margin-bottom: 0; justify-content: center; align-items: center; padding-top: 10px;}
.footer_fix ul li{margin: 0 15px;}
.product-box a{background: #ffe0e3; color: #d93644; padding: 10px 18px; display: inline-block; text-decoration: none; font-weight: bold;}
 .product-box img{margin-right: 5px;}
 .partner_wrp{padding-bottom: 100px !important;}
.shop_page{display: block;}
 .productDetail .container-fluid, .page-title-area .container-fluid{padding: 0 15px;}
 .login-section .login-form{padding: 20px;}
.login-title h2{font-size: 20px;}
.login-section .login-form .form-sec .bottom-sec{display: block;}
.login_logo img{width: 100px;}
.login-right{margin-top: 40px;}

}


@media only screen and (max-width:575px) {
.pricebox{padding:30px;}
.pricebox h5{padding-left:0;}
.productInfoo .col-form-label{padding-left:0;}
.readmore-second{margin-bottom:20px; }
.page-title-area .breadcrumb-nav{display:-moz-box; display:flex; -moz-box-align:center; -moz-box-pack:center; margin-bottom:0px; align-items:flex-start; flex-direction:column; }
.product-info-tabs .prod-tabs .nav-tabs li{padding-right:0; display:block; width:100%; }
.page-title-area .breadcrumb-nav li:not(:last-child):after{display:none; }
.product-info-tabs .prod-tabs .nav-tabs .nav-link{margin-bottom:5px; background:0 0; border:none; border-radius:0; color:#484848; height:50px; line-height:50px; padding:0px; padding-bottom:0; font-size:18px; border:2px solid #d2d2d2; font-weight:600; display:block; width:100%; }
.product-info-tabs .prod-tabs .nav-tabs .nav-link.active{border:2px solid #d93644; color:#d93644; }
}



@media screen and (max-width: 480px) {
.product_img img{width: 100%;}
.filterWrp .form-control{margin-top: 5px;}
.footer_fix ul li img{width: 20px;}
.detailsHeader h2 {
    font-size: 20px;
}
.product_box{height: 168px;}
.paymentWrp img{width: 20px;}
    .paymentWrp h5{font-size: 13px;}
    .paymentWrp input[type=radio]+.StyleBox {
    width: 90px !important;
    height: 70px !important;
    text-align: center;
}
.paymentWrp .form-check{margin-bottom: 15px;}
.globelWrp .readmore a{font-size: 14px; padding: 10px 20px;}
.globelWrp .product_box{height: 180px;}
.partner_wrp{padding: 20px 0;}
 .app_wrap h3, .shipmentWrp h3, .partner_wrp h3 {
    font-size: 20px !important;
}
.qr_check {
    margin-right: 0px;
}
.ship_btn a {
    font-size: 18px !important;
    padding: 14px 22px;
    font-weight: bold;
}
.partner_wrp .readmore a {
    padding: 12px 19px;
    font-size: 14px;
    margin-right: 1px;
}
.mt-120 {
    margin-top: 70px;
}

}


@media screen and (max-width:375px) {
.product_box {
    height: 188px;
}
.globelWrp .product_box {
    height: 204px;
}

}



@media screen and (max-width:320px) {
.globelWrp .readmore a {
    font-size: 14px;
    padding: 10px 18px;
}


}
.product_img{height: 200px; overflow: hidden;}
.product_box{height: 168px;}
.mobile_categories { display: none !important;}
@media screen and (max-width:767px) {
    .mobile_categories {
        display: block !important;
    }
}
.buy_now:hover{
    cursor: pointer;
}
